.nav {
position: relative;
left: 0;
bottom: 0;
width: 100%;
padding: 0;
margin: 0;
/* height: 38px; */
border-top: 1px solid #aaa599;
/*border-bottom: 1px solid #aaa599; */
background-color: #f0f0e7;
font-family: Georgia,"Times New Roman",Times,serif;
}

h1 {
font-family: Arabic Typesetting;
font-size: 10;
color: #3366CC;
}


.nav ul {
list-style: none;
margin: 0;
padding: 0;
}

.nav li {
float: left;
width: 178px;
background-color: #f0f0e7;
text-align: center;
border-right: 1px solid #aaa599;
position: relative;
height: 30px;
line-height: 30px;
/* border-top: 1px solid #aaa599 */
}

.nav li:hover {
background-color: #f0f0e7;
}

.nav li ul {
position: absolute;
top: 30px;
left: 0;
visibility: hidden;
}


.nav li:hover ul{
visibility: visible;
}

.nav li ul li {
float: none;
width: 174.5px;
text-align: left;
padding-left: 5px;
}



.nav a {
text-decoration: none;
color: black;
}

.content {
clear:both;
}

#footer {
margin-top: 40px;
margin-bottom: 40px;
font-size: 12px;
color: #aaa599;
position: none;
}

#container_12clearfix  {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-size: 100%;
}

#footer .grid_12 {
border-top: 1px solid #f0f0e7;
padding: 10px 0;
font-size: 12px;
color: #aaa599;
}

.container_12 .grid_12 {
width: 940px;
}

p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

#grid_4omega